.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
tslint.json
.travis.yml
syntaxes/**
!syntaxes/Velocity.tmGrammar.json
testdata/**
scripts/**
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**
client/out/test/**
server/src/**
server/node_modules/antlr4ts-cli/**
server/node_modules/.bin/**