# Ignore everything
*
*/**
**/*.ts
**/*.map

# Whitelist root files
!README.md
!package.json
!license
!language-configuration.json
!assets/**
!syntaxes/Velocity.tmGrammar.json
!snippets/velocity.json

# Whitelist client files
!client/out/*.js
#!client/package.json
#!client/node_modules/vscode-jsonrpc/**
#!client/node_modules/vscode-languageclient/**
#!client/node_modules/vscode-languageserver-protocol/**
#!client/node_modules/vscode-languageserver-types/**
#!client/node_modules/semver/**

# Whitelist server files
!server/out/*.js
#!server/package.json
#!server/node_modules/antlr4ts/**/*.js
#!server/node_modules/vscode-jsonrpc/**
#!server/node_modules/vscode-languageserver/**
#!server/node_modules/vscode-languageserver-protocol/**
#!server/node_modules/vscode-languageserver-types/**
#!server/node_modules/vscode-uri/**
